html body {
  background: black;
}

.navbar {
  background: url('../../imgs/cats.jpg');
  background-position: 50px;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.cover {
  background: mintcream;
  height: 95vh;
  width: 100vw;
}

.cover-title {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  font-family: 'Cutive Mono', monospace;
}

.links {
  font-family: 'Cutive Mono', monospace;
  width: 25vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.link a {
  display: inline-block;
}
