<div class="navbar"></div>
<div class="overlay"></div>
<section class="main">
  <section class="sidebar">
    <p class="sidebar-title">Tell {{title}}:  </p>
    <p id="subtitle">Whatever you want</p>

    <nav class="links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">News</a>
      <a href="#">Log in</a>
      <a href="#">Sign up</a>
    </nav>
    <input class="sidebar-search" type="text" name="" value="">
    <button type="button" name="button" class="sidebar-search-btn">Search</button>
  </section>
  <section class="cover">

  </section>
</section>
