<div class="navbar"></div>
<div class="overlay"></div>
<section class="main">
  <section class="sidebar">
    <p class="sidebar-title">Tell {{title}}:  </p>
    <p id="subtitle">Whatever you want</p>

    <nav class="links">
      <a routerLink='/about' routerLinkActive="active">About</a>
      <a routerLink='/contact' routerLinkActive="active">Contact</a>
      <a routerLink='/news' routerLinkActive="active">News</a>
      <!-- <a routerLink='/login' routerLinkActive="active">Log in</a> -->
      <a routerLink='/knock_knock' routerLinkActive="active">Write!</a>
    </nav>
    <input class="sidebar-search" type="text" name="" value="">
    <button type="button" name="button" class="sidebar-search-btn">Search</button>
  </section>
  <section class="cover">
    <router-outlet></router-outlet>
  </section>
</section>
