
<section class="dashboard-body">
  <div class="dashboard-inputs">
    <input id="text-title" type="text" name="" value="" placeholder="Title" [ngStyle]="titleStyles" (keyup)="editStyles(title, false)" [(ngModel)]="title">
    <div class="dashboard-textarea-wrapper">
      <textarea class="dashboard-textarea" placeholder="Write something awesome!" [ngStyle]="bodyStyles" name="newPost" rows="8" cols="80" maxlength="1000" autofocus (keyup)="editStyles(newPost, true)" [(ngModel)]="newPost">{{newPost}}</textarea>
    </div>
  </div>
  <div class="dashboard-right">
    <div class="side-bar">
      <div class="dashboard-buttons">
        <button id="logout-button" type="button" name="button" (click)="logout()">Log out</button>
        <button id="publish-button" type="button" name="button" (click)="publish(title, newPost)">Publish</button>
      </div>
      <div class="side-bar-text">
        <h1 id="side-bar-header">You're in!</h1>
        <p class="side-bar-text">Now Write. <br> Write to free yourself from the idle man. <br> Write to  <br> or, write to just tell Tova something.</p>
    </div>
    </div>
  </div>
</section>
